.container-wrap-customers{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}
.container-container-customers{
    margin: auto;
    max-width: 1175px;
    margin-left: -15px;
    margin-right: -15px;
}
.customers-item {
    width: 340px;
    padding: 9px 22px;
    margin: 0 15px;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 10px;
    }
    .customers-person{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    }
    .customers-icon {
      width: 70px;
      height: 70px;
      overflow: hidden;
      border-radius: 50%;
    }
    .customers-content_icon {
      width: 100%;
      height: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      }
  .customers-title{
      margin-bottom: 10px;
      text-align: left;
       }
  .customers-content_name{
    color: #86878B;
  }    
  .customers-text {
    background-color: #E2E2E2;
    color: #86878B;
    text-align: center;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
    position: relative;
    z-index: 1;
     }
.customers-text::after{
content: '';
width: 0;
height: 0;
border-top: 10px solid #E2E2E2; 
border-left: 10px solid transparent;
border-right: 10px solid transparent;
position: absolute;
top: 100%;
left: 60px;
display: block;
}