.container-wrap-pricing{
    margin: 0 -30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.pricing-card__item {
    width: 340px;
    margin: 0 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    -webkit-transition: 200ms;
    -webkit-transition-timing-function: ease-in-out;
    }
.pricing-card__item:hover{
  transform: translate(0, -8px);
}    
.pricing-title{
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 12px;
    padding-top: 12px;
    text-align: center;
    color: #FFFFFF;
  }
  .pricing-subtitle{
    font-size: 35px;
    font-weight: 600;
    color: #FFFFFF;
    text-align: center;
    margin-top: 3px;
    padding-bottom: 10px;
    padding-top: 10px;
  }
  .pricing-subsubtitle {
    text-align: center;
    color: #FFFFFF;
    font-weight: 700;
    margin-top: 3px;
    padding-bottom: 12px;
    padding-top: 12px;
  }
  .pricing-text{
    text-align: center;
    color: #86878B;
    margin-top: 3px;
    padding-bottom: 20px;
    padding-top: 10px;
  }
  .pricing-text:hover{
    text-align: center;
    color: whitesmoke;
  }
  .pricing-title{
    background:#333333;
    position: relative;
    padding-bottom: 10px;
         
  }
 .pricing-subtitle {
    background:#333333;
    position: relative;
    padding-bottom: 10px;
         
  }
  .pricing-subsubtitle {
    background:#333333;
    position: relative;
    padding-bottom: 10px;
         
  }
  .pricing-text {
    background:#FFFFFF;
    position: relative;
    padding-bottom: 10px;
  }
 .pricing-text:hover {
    text-align: center;
    background:#D98943;
    position: relative;
    font-weight: 700;
  }
  .pricing-subsubtitle:hover {
    text-align: center;
    background:#D98943;
    color: #FFFFFF;
    position: relative;
    font-weight: 700;
  }
  