@import url("../css/awesome.css");
@import url("../css/pricing.css");
 * {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
  }
  html{
    font-family: 'Raleway', 'Open Sans', sans-serif;
    font-size: 14px;
}
h1, h2, h4{
  font-family: 'Raleway', sans-serif;
}
  .section-awesome{
      padding: 100px 0;
      }
  .container-container-awesome{
      margin: auto;
      padding: 0 15px;
      max-width: 1170px;
      }
  .container-title{
    font-size: 36px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
  }
  .container-title-line{
    border-top: 1px solid chocolate;
    align-content: center;
    width: 70px;
    height: 2px;
    margin: auto;
    margin-bottom: 20px;
  }
  .awesome-text{
    font-size: 14px;

  }
  .container-title-text{
    color: rgba(0, 0, 0, 0.431);
    text-align: center;
    margin-bottom: 67px;
  }
  .section-pricing{
    padding: 100px 0;
    background-color: #E5E5E5;
    }
.container-container-pricing{
    margin: auto;
    padding: 0 15px;
    max-width: 1170px;
  }
 